<h1>Burgers shop</h1>

  <div class="not devoured">
  {{#each burgers}}
    {{#unless devoured}}
      <li>
					<form action="/{{this.id}}?_method=PUT" method="POST">
						<p>{{this.id}}. {{this.burgers_name}}</p>
						<button type="submit">devour</button>
					</form>
				</li>
    {{/unless}}
  {{/each}}
  </div>

<div id="devoured">
<h2>Burgers devoured!</h2>
   <ul>
				{{#each burgers}}
				{{#if this.devoured}}
				<li>
					<p>{{this.id}}. {{this.burgers_name}}</p>
				</li>
				{{/if}}
				{{/each}}
			</ul>
      </div>
    </section>
    
<h2>Add a burger</h2>
<form action="/api/addBurger" method="POST">

  <div class="form-group">
    <label for="ca">Burgers Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">devour</label><br>
    <input type="radio" name="devour" value="1" checked> devoured<br>
    <input type="radio" name="devour" value="0"> not devoured
  </div>

  <button type="submit">Add burger</button>
</form>
